$white: rgb(249, 246, 244);
$red: rgb(235, 105, 105);
$darkblue: rgb(9, 6, 86);
$slightlylessdarkblue:  rgb(44, 39, 170);
$blue:rgb(131, 216, 255);
$redish:rgb(255, 161, 161);
$redselect: rgb(137, 3, 3);
$yellow: rgb(255, 250, 215);
html{
    background-color: $white;
    margin: 0;
    padding: 0;
    font-family: 'simple-kind-of-girl', "Gill Sans", sans-serif;
    overflow-x: hidden;
}   
.contactsection{
    background-color: $redish;
    color:$darkblue;
    width: fit-content;
    margin: auto;
    padding: 3%;
    border-radius: 5px;
}
.ourHeader{
    font-family: 'Cute-Notebook', "Gill Sans", sans-serif;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    gap: 3%;
    align-items: center;
    justify-content: space-evenly;
    padding: 1%;
    height: fit-content;
}

.colorBlockBlue{
    display: flex;
    flex-direction: column;
    background-color: $blue;
    width: 100%;
    color: $darkblue;
    padding: 5%;
    margin: 0;
    align-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
    padding-right: 2%;

}
.colorBlockBlueabout{
    display: flex;
    flex-direction: column;
    background-color: $blue;
    width: 100%;
    color: $darkblue;
    padding: 5%;
    margin: 0;
    align-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
}
.mybutton{
    border: solid 1px $darkblue;
    color: $darkblue;
    background-color: $red;
    padding: 1%;
    font-family: 'Cute-Notebook', "Gill Sans", sans-serif;
    border-radius: 3px;
    text-decoration: none;

}
.mybutton:hover{
    color: $slightlylessdarkblue;
    background-color: $redish;
    text-decoration: none;
}
.contentHeaders{
    width:fit-content;
    font-size: xx-large;
    color: $darkblue;
    border-radius: 5px;
    border-bottom: 3px dotted $darkblue;
    align-content: center;
    padding: 1%;
    margin: 0;
    text-align: center;
    font-family: 'Cute-Notebook', "Gill Sans", sans-serif;
}
.aboutmesection{
     display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    text-align: left;
    width: 100%;
    max-width: 100%;
    gap: 4%;
    vertical-align: top;
    overflow: hidden;
    margin: 5%;
}
.aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: left;
    width: fit-content;
    max-width: fit-content;
    vertical-align: top;
    text-align: left;
}

.portrait{
    align-content: space-between;
    width: 30%;
    max-width: 30%;
    max-height: auto;
    border-radius: 40px;
    display: block;
}
.pad{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 3%;
}
.headerlinks{
    text-decoration: none;
}
span .headerlinks{
    color: $white;
    border-bottom: 3px dotted $white;
    font-family: 'simple-kind-of-girl', "Gill Sans", sans-serif;
}
@media (max-width: 375px){
    .headerlogo{
        width: 50%;
        max-width: 50%;
        max-height: 50%;
        margin: auto;
        display: block;
    }
    .aboutme .contentHeaders{
        font-family: 'simple-kind-of-girl', "Gill Sans", sans-serif;
        text-align: right;
        flex-wrap: wrap;
        font-size: x-large;
        align-items: left;
        align-self: left;
        align-content: left;
        color: $redselect;
        text-shadow: 3px $redish;
        padding-top: 5%;
        align-self:flex-start;
    }
    .myFooter{
        position:fixed;
        background-color: $darkblue;
        color: $white;
        width:100%;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-family: 'Cute-Notebook', "Gill Sans", sans-serif;
        margin: 0;
        font-size: small;
        left:-1px;
        gap: 3%;
        bottom: -1px;
        margin-top: auto;
    }
    ul{
    }
}
@media (min-width: 376px) {
    .headerlogo{
    width: 20%;
    max-width: 20%;
    max-height: 20%;
    margin: auto;
    display: block;
    }
    .aboutme .contentHeaders{
    font-family: 'simple-kind-of-girl', "Gill Sans", sans-serif;
    text-align: right;
    align-items: left;
    align-self: left;
    align-content: left;
    color: $redselect;
    text-shadow: 3px $redish;
    padding-top: 5%;
    align-self:flex-start;
}
.myFooter{
    position:absolute;
    background-color: $darkblue;
    color: $white;
    width:100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Cute-Notebook', "Gill Sans", sans-serif;
    margin: 0;
    font-size: x-large;
    left:-1px;
    gap: 3%;
    }
    ul{
    margin-left: 25%;
    margin-right: 25%;
    }       
}
//Fonts: 
@font-face {
    font-family: 'simple-kind-of-girl';
    src:url("./assets/simple-kind-of-girl-font/SimpleKindOfGirl-mnnm.ttf");
    font-size: xx-large;
    font-weight: bold;
}
@font-face {
    font-family: 'Cute-Notebook';
    src:url("./assets/CuteNotebookPersonalUse-7OAEV.ttf");
    font-size: xx-large;
    font-weight: bold;
}
//---------------------------------------------------------

/* --------------------------------------------   */
/* Big purple red table with rounded edges        */
/* --------------------------------------------   */
.purpleRed table {
	background-color: #3d3b63;
	border-collapse: collapse;
	border-radius: 10px;
	font-size: 1em;
	color: $white;
	overflow: hidden;
	width: auto;
	/*max-width: 100%;*/
    font-family: "simple-kind-of-girl", Arial, Helvetica, sans-serif;
    justify-content: center;
    align-content: center;
    margin: auto;

}
.purpleRed thead {
	background-color: $redselect;
    color: $white;
    font-family: "Cute-Notebook", Arial, Helvetica, sans-serif;
	border: 3px solid rgba(0, 0, 0, 0.1);
}
.purpleRed th {
	letter-spacing: 0.3px;
	text-shadow: 0 1px 1px #2b2a466b;
    color: $white;

}
.purpleRed td {
	background-color: $yellow;
	color: $redselect;
}
.purpleRed td strong {
	color: white;
}
.purpleRed td,
.purpleRed th {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 11px;
}
/* --------------------------------------------   */
